html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body * {
  color: #d3d3d3;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: 'Fira Sans', sans-serif;
  letter-spacing: 0.25rem;
  text-shadow: 1px 1px 2px black;
  font-weight: 100;
}

strong {
  font-weight: 300;
  text-transform: uppercase;
}

h1,
h2,
h3 {
  margin: 0;
  text-transform: uppercase;
}

h1 {
  letter-spacing: 1rem;
  padding-left: 0.75rem;
}

h6 {
  color: #547682;
  text-transform: uppercase;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #b37519;
  font-weight: 200;
  transition: all 0.2s;
}

a:hover {
  color: #df9220;
}

a:focus {
  color: #f29f22;
}

p {
  line-height: 120%;
  max-width: 70rem;
}

figcaption {
  padding: 2rem 0;
  text-align: center;
}

cite {
  display: inline-block;
  padding: 1rem 0;
  text-transform: uppercase;
}

pre {
  white-space: pre-wrap;
}

code {
  font-family: 'Fira Mono', Consolas, 'Andale Mono WT', 'Andale Mono',
    'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono',
    'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco,
    'Courier New', Courier, monospace;
  font-weight: 100;
  background-color: rgb(21, 21, 21);
  padding: 0.3rem 1rem;
  border-radius: 3px;
  display: inline-block;
  border: 3px solid rgb(19, 19, 19);
  color: rgb(103, 83, 103);
}

@media only screen and (max-width: 900px) {
  body * {
    text-shadow: 2px 2px 12px black;
    letter-spacing: 0.15rem;
    font-size: 1.5rem;
  }

  h2 {
    font-size: 6rem;
  }
}
